.teacher-header-bg-img{background-image:url(../img/page/teacher/header/1.jpg);background-size:cover;background-repeat:no-repeat;background-attachment:fixed;background-position:center center;height:100vh}